
.intro{
    margin-top: 0px;
    text-align: center;
    font-family:fantasy;
    font-size: x-large;
    color: white;
    background-color:rgb(0, 0, 0);
    height: 275px;
}

#input{
    border: 2px solid black;
    border-radius: 30px;
    padding: 15px;
}
h1{
    margin-top: 0px;
    
}
button{
    width: 100px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgb(86, 112, 231);
    color: black;
    cursor: pointer;
    
}

.margin0{
    margin: 0px;
}

body{
    background-color: black; 
}


.grid-wrapper{
    margin-top: 25px;
    display: flex;
    justify-content: s;
    align-items: flex-start;
    gap: 100px;
}


.controlPanel{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border: 2px solid white;
    margin-left: 30px;   
}

.controlPanel h2{
    font-family: fantasy;
    color: white;
    text-align: center;
    border: 1px solid white;
    margin: 0px;

}

.controlPanel button{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    padding: 20px;
    width: 200px;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    background-color: white;
}



#grid {
    border: 2px solid black;
    width: 600px;
    height: 500px;
    background-color: white;
  }
  



#grid .flexRow{
    display: flex;
    flex-direction: row;
    flex: 1;
}

#grid .flexBox{
    display: flex;
    flex-direction: row;
    justify-content: left;
    box-sizing: border-box;
    flex: 1;
}


.production{
    color: white;
    background-color: #151b23;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: x-small;
    margin-top: 50px;
}

.production h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    width: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    
}

/*
#grid .flexRow div{
    flex: 1;
}

#grid .flexBox div{
    flex: 1;
    height: 15px;
    border: 2px solid black;
}


*/


